.m-n-xl {
  margin-top: 25px;
}

.m-e-xl {
  margin-right: 25px;
}

.m-s-xl {
  margin-bottom: 25px;
}

.m-w-xl {
  margin-left: 25px;
}

.m-n-lg {
  margin-top: 20px;
}

.m-e-lg {
  margin-right: 20px;
}

.m-s-lg {
  margin-bottom: 20px;
}

.m-w-lg {
  margin-left: 20px;
}

.m-n-med {
  margin-top: 15px;
}

.m-e-med {
  margin-right: 15px;
}

.m-s-med {
  margin-bottom: 15px;
}

.m-w-med {
  margin-left: 15px;
}

.m-n-sm {
  margin-top: 10px;
}

.m-e-sm {
  margin-right: 10px;
}

.m-s-sm {
  margin-bottom: 10px;
}

.m-w-sm {
  margin-left: 10px;
}

.m-n-xs {
  margin-top: 5px;
}

.m-e-xs {
  margin-right: 5px;
}

.m-s-xs {
  margin-bottom: 5px;
}

.m-w-xs {
  margin-left: 5px;
}
