$--color-primary: #157ce7;
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';

.el-form--label-top .el-form-item__label {
  padding: 0;
}

.el-form-item__content > label {
  display: block;
  color: #86898f;
  line-height: 1.3;
  font-size: 12px;
  padding-top: 8px;
}

.el-alert {
  margin-bottom: 10px;
}

.el-dialog__body {
  padding-top: 0;
}

.el-alert--error .el-alert__description {
  white-space: pre-wrap;
}

.el-alert-loading .el-icon-loading {
  position: absolute;
  left: 15px;
  margin-top: 2px;
}

.el-alert-loading .el-alert__content {
  margin-left: 15px;
}

pre {
  word-break: break-word;
  white-space: pre-wrap;
  margin: 0;
  font-size: 12px;
  background: #ddd;
  padding: 10px;
  border: 1px solid #ccc;
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444;
}

h1 {
  margin: 0 0 10px 0;
  font-size: 25px;
}

h2 {
  font-size: 22px;
}

h6 {
  margin-bottom: 5px;
  margin-top: 10px;
  color: #86898f;
}
