$--color-primary: #157ce7;
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';

.el-form--label-top .el-form-item__label {
  padding: 0;
}

.el-select-wide {
  width: 100%;
}

.el-select + label,
.el-form-item__content > label {
  display: block;
  color: #86898f;
  line-height: 1.3;
  font-size: 12px;
  padding-top: 7px;
}

.el-notification {
  width: auto;
}

.el-input--large {
  font-size: 16px;
}

.el-notification__content {
  width: 500px;
}

.el-alert {
  margin-bottom: 10px;
}

.el-dialog__body {
  padding-top: 0;
}

.el-alert--error .el-alert__description {
  white-space: pre-wrap;
}

.el-alert-loading .el-icon-loading {
  position: absolute;
  left: 15px;
  margin-top: 2px;
}

.el-alert-loading .el-alert__content {
  margin-left: 15px;
}

.el-menu-item {
  line-height: 36px;
  height: 36px;
}

.is-never-shadow .el-card__header {
  padding: 9px 10px;
}

.is-never-shadow .el-card__body {
  padding: 10px;
}

.is-never-shadow .el-card h5 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 14px;
  color: #666;
  border-bottom: 1px solid #ebeef5;
}

.el-row > .el-tag {
  margin: 0 5px 5px 0;
}

.el-form-item-list {
  margin-bottom: 5px !important;
}

.el-form-item-list .el-form-item__error {
  position: static;
}

.el-card.tight .el-card__body {
  padding: 0;
}

pre {
  font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter',
    'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco,
    'Courier New', Courier, monospace;
  word-break: break-word;
  white-space: pre-wrap;
  margin: 0;
  font-size: 12px;
  background: #ddd;
  padding: 10px;
  border: 1px solid #ccc;
  color: #444;
}

hr {
  border: 0;
  border-top: 1px solid #ebeef5;
  margin: 15px 0px;
}

label {
  color: #606266;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444;
}

h1 {
  margin: 0 0 10px 0;
  font-size: 25px;
}

h2 {
  font-size: 22px;
}

h6 {
  margin-bottom: 5px;
  margin-top: 10px;
  color: #86898f;
}

.vue-query-builder {
  color: #606266;

  > .vqb-group > .vqb-group-heading {
    background: #f5f7fa;
    padding: 10px 20px;
    margin: -20px -20px 0;
  }

  > .vqb-group > .vqb-group-body > .rule-actions {
    background: #f5f7fa;
    padding: 0 20px 15px;
    margin: 0 -20px 20px -20px;
  }

  .vqb-group .vqb-group > .vqb-group-body > .rule-actions {
    background: #f5f7fa;
    padding: 0 20px 15px;
    margin: 0 -10px 20px -10px;
  }

  .vqb-group-body .vqb-group-heading {
    padding: 10px;
    background: #f5f7fa;
  }

  .vqb-group-body .vqb-group-heading {
    border-radius: 0 4px 0 0;
  }

  .vqb-group-body .vqb-group-body {
    padding: 00px 10px 10px;
  }

  .vqb-group .vqb-group {
    border-left: 3px solid #18cc2e;
    margin-bottom: 10px;
  }

  .vqb-group .vqb-group:last-child {
    margin-bottom: 0;
  }

  .vqb-group .vqb-group .vqb-group:last-child {
    margin-bottom: 10px;
  }

  .rule-actions {
    margin-bottom: 20px;

    select {
      margin-right: 10px;
    }

    button {
      margin-right: 10px;
    }
  }

  .vqb-rule {
    background: #f5f7fa;
    padding: 10px;
    margin: 10px 0;
    border-left: 3px solid #189acc;

    > div {
      position: relative;
      padding-right: 21px;
    }

    label {
      margin-right: 10px;
      font-weight: 600;
    }

    select {
      margin-right: 10px;
    }

    input {
      border: 1px solid #ddd;
      border-radius: 3px;
      padding: 4px;
    }

    button {
      margin-top: 3px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .match-type-container {
    > div {
      display: inline-block;
    }

    label {
      margin-right: 10px;
    }

    button {
      float: right;
    }
  }

  select {
    max-width: 100%;
  }
}

.el-card__header .el-button--text {
  padding: 0;
}

.el-row a + a,
.el-row a + .el-button {
  margin-left: 10px;
}

.vjs__tree .vjs__value__boolean,
.vjs__tree .vjs__value__number,
.vjs__tree .vjs__value__string {
  color: inherit;
}
